RewriteOptions inherit
Options +SymLinksIfOwnerMatch
RewriteEngine On

<ifModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</ifModule>

### New links ###
RewriteRule ^minisite$ http://neobuxultimatestrategy.com/minisite/ [L,R=301]

RewriteRule ^ppbooster http://pp-booster-system.com [L,R=301]

RewriteRule ^ppturbo http://bestpayingsites.com [L,R=301]

RewriteRule ^catalog http://bestpayingsites.com/site/catalog/ [L,R=301]

RewriteRule ^eps http://bestpayingsites.com [L,R=301]

RewriteRule ^translatejobs http://tinyurl.com/real-translator-jobs-product [L,R=301]
 
RewriteRule ^/?action=translate http://bestpayingsites.com/splash/translate/ [L,R=301]

ErrorDocument 400 /images/
ErrorDocument 401 /images/
ErrorDocument 403 /images/
ErrorDocument 404 /images/
ErrorDocument 500 /images/