body {
	background-color: #000;
	font-family: Georgia; }
	
.checkList {
	list-style-image:url(../../images/check.png);
	font-family: Georgia;
}

.checkList li {
	margin: 10px 0px 10px 0px;
}

.footer {
	font-family: Georgia; 
	margin: 0px 0px 20px 0px;
}

h1 {
	color: blue; 
	font-family: "Comic Sans MS";
}