@charset "utf-8";
/* CSS Document */
body {
	font:normal 16px Arial, Helvetica, sans-serif;
	color: #555; }

h1,h2,h3,h4,h5,h6 {
	color: #151515;
	text-align:center; 
}

h1 {
	letter-spacing: 0em;
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
}
h2 {
	letter-spacing: -.04em;
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
}
h3 {
	letter-spacing: -.03em;
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}
h4 {
	letter-spacing: -.03em;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}
h5 {
	letter-spacing: -.03em;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 15px;
}
h6 {
	letter-spacing: -.02em;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	margin-bottom: 15px;
}

.hide {
	background: none;
	font-size: 1px;
	display: none;
	height: 0;
	left: -9999px;
	overflow: hidden;
	position: absolute;
	top: -9999px;
	width: 0;
	z-index: 0;
	line-height: 0px;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
.center { text-align:center; margin:0 auto; }
.strong { font-weight:bold; }
.red { color:#c13100; }
.em { font-style:italic; }
.float-l { float:left; }
.float-r { float:right; }
a { color:inherit; margin:0; -moz-user-select:text; }
a:hover { text-decoration:none; }
.line { background:url(images/line.gif) no-repeat; height:1px; margin:0 auto; width:780px; }

#wrapper {
	margin: 0 auto;
	width: 892px;
}

#contentWrap {
	margin: 5px 0 0;
	width: 892px;
}

#contentTop {
	background: url(images/contentTop.png) no-repeat;
	height: 36px;
	width: 892px
}
#content {
	background:url(images/contentBG.png) repeat-y;
	padding: 30px 56px 5px;
}

#content .subheadline {
	background:url(images/highlight.png) repeat-y center top;
	font:italic 20px Arial, Helvetica, sans-serif;
	margin:0 0 20px;
	text-align:center;
	color: black;
}

#content h3 {
	font:normal 20px/26px Arial, Helvetica, sans-serif;
	margin:0 0 20px;
	text-align:center;
}

#content .price {
	color:#a90000;
	font:bold 50px Arial, Helvetica, sans-serif;
	margin:15px 0;
}
		 	  
.note {
	color:#767676;
	font:normal 11px Arial, Helvetica, sans-serif;
	margin:15px auto 0;
	text-align:center;
}

#contentBtm {
	background:url(images/contentBtm.png) no-repeat;
	height:36px;
}
	
#footer {
	background:url(images/footerBG.png) no-repeat;
	clear:both;
	height:67px;
	margin:0 auto 20px;
	text-align:center;
	width:820px;
}

#footer p {
	color:#b7b7b7;
	font:normal 10px/14px Arial, Helvetica, sans-serif;
	padding:12px 0 0;
	text-align:center;
}
	
h1 {
	font: bold 40px/42px Tahoma;
	margin:0 0 25px;
	text-align:center;
}

h2 {
	letter-spacing:-.03em; 
	font:bold 1.4em Tahoma; 
	font-weight: bold; 
	line-height:24px; 
	color: #767676; 
}

#eXTReMe { 
	display: none; } 
	
.title {
	font-family: Tahoma; 
	font-size: 1.4em;
	font-weight: bold; }
	
p, li, ol {
	color:#767676;
	font-family: Georgia; 
	font-size: 18px; }
	
.spam {
	font-size: 1em; }

.checkList{
	margin-left: 20px;
	list-style-image:url(images/check.png);
	font-family: Georgia;
}

.crossList{
	list-style-image:url(images/cross.jpg);
	font-family: Georgia;
}

.moduleBlue {
	font-family: Tahoma, Geneva, sans-serif;
	border: solid 1px #531d2a;
	font-weight: 800;
	text-align: left;
	background: #eeeeee;
	margin-top: 0;
	margin-bottom: 15px;
}

.moduleBlue h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	display: block;
	padding: 0.5em 0;
	background: #12649b;
	color: #ffffff;
	font-size: 16px;
	color: #ffffff;
}

.moduleBlue div {
	padding: 5px 10px;
}

.heading { 
	font-size: 1.4em;
	font-weight: bold;
	font-family: Tahoma; 
	text-align: center; }
	
.clickable {
	border: 1px solid black; }

.clickable:hover {
	border: 1px solid white; }
	
.orderForm {
	border: thin dotted #333;
	background-color: #FFFFCC;
	padding: 5px;
}

.orderForm h2 {
	font-size: 22px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #600;
	text-align: center;
	font-weight: bold;
}

.input {
	border: 1px solid #000000;
	background: #FFFFFF;
	margin-bottom: 5px;
	height: 20px;
}

.input:hover {
	border: 1px solid #000;
	background: #FFFF99;
}
