<h1>PeopleString Success ebook</h1>

<h2>Coming Soon</h2>

<h2>Estimated launch date: October 5th. 2011</h2>

<h3>Check back with us soon - in the mean time, you can subscribe to our newsletter</h3>
	
<h3>If you want to find out when the ebook will be available, then subscribe now</h3>


<table width="590" border="0" align="center" class="orderForm"> 
<tr> 
	<td> 
	<table width="550" border="0"> 
	<tr> 
	    <td width="20"> 
		<input type="checkbox" name="checkbox" id="orderForm" checked/>
	    </td> 
	    <td width="12">&nbsp;</td> 
	    <td width="400"><h3 class="text">YES! Please subscribe me to the PeopleString Success e-course
	    for free marketing tips</h3> 
	   	</td> 
	</tr> 
	</table> 
	
	<table width="500" align="center"><tr><td> 
	<p class="text">The PeopleString Success E-course consists of 2 parts. Part 1 is basic training for
	newbies to PeopleString. Part 2 covers advanced marketing strategies and team building tactics that
	you can use to build an income with PeopleString. </p> 
	</td></tr></table> 
	
	<center> 
	<table width="400" border="0" cellpadding="0" cellspacing="0" style="border: thin dotted #333;"> 
	<tr> 
		<td align="center"> 
		<h2>Subscribe to the Newsletter</h2> 
        <form method=post action="http://www.trafficwave.net/cgi-bin/autoresp/inforeq.cgi"> 
		<table> 
		<tr> 
			<td align="left" width="120px" class="text">Full Name </td> 
			<td><input type="text" id="da_name" name="da_name" class="input" size="25"></td> 
		</tr><tr> 
			<td align="left" class="text">Email Address </td> 
			<td><input type="text" id="da_email" name="da_email" class="input" size="25"></td> 
		</tr><tr> 
			<td colspan="2" align="center"><input type="image" src="<?=$imgDir?>subscribe.png" 
			name="subscribe" value="Subscribe Now"></td> 
		</tr> 
		</table> 
		<input type=hidden name="da_cust1" value="salespage"> 
		<input type=hidden name="trwvid" value="theemperor"><input type=hidden name="series" value="peoplestring"> 
		<input type=hidden name="subscrLandingURL" value=""> 
		<input type=hidden name="confirmLandingURL" value=""> 
		</form> 
		<p class="note">We hate spam and will never sell your email address to others. <br> All opt-ins are
		completely optional.</p><br> 
		</td> 
	</tr> 
	</table></center> 
  	<p>&nbsp;</p>    
    </td> 
</tr> 
</table> 

<h1>Pre-order a copy now</h1>

<!-- 
<p>Order the ebook in advance - and you can download it once it's up. 
<a href="?action=order">Click here to pre-order</a></p> -->

<h1>Affiliate Program - Coming soon!</h1>

<h3>You can make 75% commissions by selling this ebook!</h3>