.content {
    -moz-box-shadow: 0 0 25px #000;
    -webkit-box-shadow: 0 0 25px #000;
    margin: 30px auto;
    padding: 10px 25px 10px 25px;
    background-color: #FFF;
    box-shadow: 0 0 25px #000;    
    display: block;
    width: 800px;
}

.innerContent {
    text-align: left;
    padding: 5px 20px 5px 20px;
}

.boxContent {
    margin: 20px; 
    text-align: left;
    padding: 10px 25px 10px 25px;
    background-color: #FFF;
    box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 25px #000;
    -webkit-box-shadow: 0 0 25px #000;
    margin-right: 0 auto;
    display: block;
    width: 700px;
}

a {
    color: blue;
}

a:hover {
    color: gray;
}

p {
    font-size: 18px; 
    font-family: Georgia; 
    line-height: 1.35; 
}

h1, h2, h3 {
    text-align: center;
}

.red {
    font: inherit; 
    font-weight: bold;
    color: #ff0000;
}

.blue {
    font: inherit; 
    font-weight: bold;
    color: #000080;
}

.red { 
    color:#c13100; 
}

.url {
    font: bold 16px Verdana, sans-serif;
    margin: 15px auto;
    text-align: center;
}

.subheadline {
	background:url(../../images/splash/highlight.png) repeat-y center top;
	font:italic 20px Arial, Helvetica, sans-serif;
	margin:0 0 20px;
	text-align:center;
	color: black;
}

.line { 
    background: url(../../images/splash/line.gif) no-repeat; 
    height: 1px; 
    margin: 0 auto; 
    width: 780px; 
}

.checkList {
    text-align: left;
    margin-left: 20px;
    list-style-image: url(../../images/splash/check.png);
    font-family: Georgia;
}

.crossList {
    list-style-image:url(../images/crashcourse/cross.jpg);
    font-family: Georgia;
}

.clickable {
    border: 1px solid black; }

.clickable:hover {
    border: 1px solid white; }
	
/* footer text for pp-turbo sales page */
.footerText {
    color: rgb(119, 119, 119); 
    font-family: arial; 
    font-size: 10pt; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    letter-spacing: normal; 
    line-height: normal; 
    text-align: justify; 
    text-indent: 0px; 
    white-space: normal; 
    word-spacing: 0px; 
    display: inline !important; 
}

/* footer for members area links */
.membersFooter {
    text-align: center;
}

.membersFooter p {
    color: #7b7b7b;
    font: normal 12px Verdana, Helvetica, sans-serif;
    padding: 8px 0px;
    text-align:center;
    margin: 5px 0px;
}

#eXTReMe { 
    display: none; 
}